
body{
    background-color: #c3ccc9;
}

.glyphicon {
    font-size: 50px;
}
.fa {
    font-size: 25px;
}
.line-vertical {
    border-right: 2px solid #555555;
}
.page-header h1{
    color: #222;
    text-shadow: 0px 2px 3px #555;
}


#container{
    background-color: #c3ccc9;
    height: 100%;
    width: 80%;
    margin: auto;
}
.title-bar{
    background-color: #555555;
    color: white;
}
.grow { transition: all .2s ease; }
.grow:hover { transform: scale(1.04); }

span.header-tile{
    font-size: 20px;
    text-decoration: underline;
}

.badges-tech{
    position: absolute;
    width: 100%;
    bottom:0
}
.image-tile{
    margin-top: 20px;

}
.tile-div{
    position:relative;
    overflow: hidden;
    text-align: center;
}

.tile-div .tile-content{
    text-align: center;
    position:relative;
    opacity: 1;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-duration: 250ms;
}

.tile-div:hover .tile-content{
    opacity: .2;
    outline: #555555 solid 3px;
}


.tile-div .tile-content--bottom{
    position: absolute;
    top: 200px;
    left: calc(50% - 25px);
    -webkit-transition: top;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-duration: 250ms;
}


.tile-div:hover .tile-content--bottom{
    top: 20px;
}



.color-background--blue{
    background-color: #2672EC;
}

.color-background--teal{
    background-color: #008299;
}
.color-background--purple{
    background-color: #8C0095;
}
.color-background--darkpurple{
    background-color: #5133AB;
}.color-background--red{
     background-color: #AC193D;
 }
.color-background--orange{
    background-color: #D24726;
}

.color-background--green1{
    background-color: #008A00;
}
.color-background--green2{
    background-color: #91D100;
}
.color-background--green3{
    background-color: #439D9A;
}

.color-background--green4{
    background-color: #15992A;
}
.color-background--green5{
    background-color: #00C13F;
}
.color-background--green6{
    background-color: #128425;
}

.color-background--green6{
    background-color: #3A9548;
}


.color-background--pink1{
    background-color: #E064B7;
}
.color-background--pink2{
    background-color: #FF76BC;
}
.color-background--pink3{
    background-color: #DE4AAD;
}
.color-background--pink4{
    background-color: #E773BD;
}





.color-background--skyblue{
    background-color: #094AB2;
}


.tile-content{
    height: 200px;
    margin: 2px;
}


#photo-div{
    display:inline-block;
    padding-right: 35px;
}

#info-div{
    display: inline-block;
    padding-left: 20px;
}